html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    vertical-align: middle;
}

header {
    background-color: white;
    line-height: 70px;
}

main {
    background-color: #f6f8f9;
    padding-top: 38px;
    padding-bottom: 12px;
}

.actions {
    margin: 0 auto;    
    background-color: white;
    padding: 1em 3em;
    width: 960px;
    border-radius: 5px 5px 0px 0px;
}

.btn-task {
    background-color: #47adf1;
    color: white;
    padding: .5em 1em;
    border: .1em solid #47adf1;
    border-radius: .5em;
}

.btn-section {
    background-color: #ffffff;
    color: #c5cbd0;
    padding: .5em 1em;
    border: .1em solid #c5cbd0;
    border-radius: .5em;
}

.tasks {
    margin: 3px auto 0px auto;
    padding: 2em 3em;
    background-color: white;
    width: 960px;
}

ul {
    list-style: none;
}

li {
    padding: .8em 0;
}

.check {
    font-size: .7em;
    font-weight: 800;
    color: #64c0a9;
    border: .1em solid #64c0a9;
    border-radius: 50%;
    padding: .15em .3em;     
}

.cross {
    font-size: .7em;
    color: #eb5952;
    border: .15em solid #eb5952;
    border-radius: 50%;
    padding: .15em 0.35em;      
}

.list-element {
    padding-left: 1em;
    padding-right: .5em;
    font-size: 1.2em;
    font-weight: 500;
}

.editorial,
.q1-goals,
.recruiting,
.mobile,
.website,
.sales {
    padding: .5em .1em;
    border: 1px solid black;
}